{% extends 'news_app_index/base.html' %} {% block body %} {% block body %}
<div id="rss-app">
  <div>
    <input type="text" v-model="newLink" placeholder="RSS feed URL" />
    <button @click="newFeed">Save</button>
  </div>

  {% include 'rss/feeds.html' %}
</div>

{% load static %}
<script type="application/javascript" src="{% static 'rss/app.js' %}"></script>
<script type="application/javascript">
  window.addEventListener("load", function() {
    rssApp.reload();
  });
</script>
{% endblock %} {% endblock %}
