* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
}

.container {
  display: flex;
  justify-content: center;
}

.author {
  font-size: 1.3rem;
  font-weight: 400;
}

.publish-date {
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.article {
  width: 60%;
  height: 100px;
  background: grey;
}
