{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Description"
      content="Developer: Brandon Lee, Function: News/RSS Aggregator, Developed: Django + HTML/CSS + Javascript"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Django RSS Reader</title>
    <script src="{% static 'news_app_index/vue.min.js' %}"></script>
    <script src="{% static 'news_app_tech/loader.js' %}"></script>
    <link rel="stylesheet" href="{% static 'news_app_index/main.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/c3493efaaa.js"></script>
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
