{% extends 'news_app_tech/base.html' %} {% block body %}
<div id="rss-app">
  <div>
    <input type="text" v-model="newLink" placeholder="RSS feed URL" />
    <button @click="newFeed">Save</button>
  </div>

  {% include 'news_app_tech/feeds.html' %}
</div>

{% load static %}
<script
  type="application/javascript"
  src="{% static 'news_app_tech/app.js' %}"
></script>
<script type="application/javascript">
  window.addEventListener("load", function() {
    rssApp.setup();
  });
</script>

{% endblock %}
