* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(168, 168, 168);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

section {
  margin-top: 1rem;
}
.author {
  font-size: 1.3rem;
  font-weight: 400;
}

.publish-date {
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
  color: blueviolet;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.article {
  width: 100%;
  height: 130px;
  background: white;
  padding: 2.5rem;
  /* margin-bottom: 0.7rem; */
}

.content {
  margin-top: 1.2rem;
}

.navbar {
  background-color: #44455b;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20%;
  position: fixed;
  list-style: none;
}

.nav-items {
  margin-top: 4rem;
}

.nav-link {
  text-align: center;
  color: whitesmoke;
}
